*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 20px 0;
}
.nav__logo{
    color: #323232;
font-family: 'Montserrat';
font-size: 32px;
font-weight: 700;
line-height: 23px;
text-transform: uppercase;
text-decoration: none;

}
.nav__list{
    display: flex;
    list-style: none;
    gap: 62px;
    align-items: center;
}
.nav__link{
    color: #323232;
font-family: 'Montserrat';
font-size: 18px;
font-weight: 400;
text-transform: capitalize;
}
.ru{
    color: #323232;
font-family: 'Montserrat';
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
text-decoration: none;
}
.button{
    width: 20px;
    flex-shrink: 0;
    height: 20px;
    background-color: #fff;

   
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-radius: 0;
    text-decoration: none;
}
.intro{
   padding: 10;
}
.intro__1{
    display: flex;
    width: 526px;
    height: 294px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E1E1E1;
}
.intro__2{
    width: 123px;
height: 49px;
flex-shrink: 0;
border-radius: 10px;
background: #323232;
display: flex;
justify-content: center;
align-items: center;
color: #FFF;
font-family: 'Montserrat';
font-size: 22px;
font-weight: 400;
text-transform: capitalize;
margin-top: 16px 22px;
}
.intro__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
 
}
.intro__3{
    display: flex;
width: 123.006px;
height: 19.636px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #323232;
font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
}
